# Python
backend/.env
backend/google-credentials.json
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# General
.DS_Store
Thumbs.db
*.log
